<!DOCTYPE html>
<html>
<head>
    <title>Weather Data</title>
</head>
<body>
    <h1>Weather Data</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Description</th>
        </tr>
        {% for entry in data %}
        <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.temperature }}</td>
            <td>{{ entry.humidity }}</td>
            <td>{{ entry.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
